/* .zip-search-container{
    position: fixed;
    height: var(--search-container-height);
    width: inherit;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    outline: 1px dashed limegreen;
} */

.zip-search-input{
    width: 200px;
    height: 40px;

    font-size: 1.1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: 3px solid black;
    background-color: whitesmoke;
    
}

.zip-search-input:focus{
    outline: 3px solid dodgerblue;
}
