.navbar {
  background: #333;
  width: 100%;
  height: 50px;
  color: whitesmoke;
  
  position: fixed;
}
.navbar ul{
  height: 100%;
  width: 100%;

  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navbar li{
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar a:visited{
  color: whitesmoke;
}
