#section-moon {
  --landing-page-height: 5000px;
  --search-container-height: 120px;
  
  height: var(--landing-page-height);
  display: flex;
}

.leftside-moon{
  /* background-color: slategray; */
  background-color: black;
  height: inherit;
  width: 50%;

  display: flex;
  justify-content: center;
}

.rightside-moon{
  /* background-color: gray; */
  background-color: black;
  height: inherit;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}