#error-page{
    height: 100vh;
    width: 100vw;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#error-page p{
    margin: 10px;
}
#error-page button{
    margin: 10px;
    width: 100px;
    cursor: pointer;
}
