#form-section{
    position: fixed;
    height: var(--search-container-height);
    width: inherit;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    outline: 1px dashed limegreen;
}