.dua-container{
    position: absolute;    
    height: inherit;
    width: 50%;
}

.dua-stage{
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    user-select: none;
    /* outline: 2px solid red; */
}

.dua-img{
    position: absolute;
    height: 430px;
    width: auto;
    
    padding-right: 30px;
    /* outline: 2px solid red; */
    top: 185px;
    z-index: 2;   
}
