.m-b-container{
    position: absolute;
    height: var(--landing-page-height);
    max-width: 100%;
}

.m-b-image{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;   
    object-position: 0% 40%;
}